# Copia este archivo como .env y rellena los valores

# Flask
SECRET_KEY=cambia-esto

# Email (Gmail recomendado con App Password)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=tu-correo@gmail.com
EMAIL_PASS=xxxx-xxxx-xxxx-xxxx   # App Password de Google
EMAIL_DEST=correo-destino@gmail.com
